body{
  main{
    .topnav{
      color: black;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      background-color: white;
      .navbar-brand{
        padding-top: 10px;
        left: 40px;
        padding-right: 70px;
        font-size: 30px;
        font-weight: 40;
      }
      a{
        padding-right: 40px;
        color: black;
        text-decoration: none;
      }
      .btn{
        border-radius: 23px;
      }
      .btn-primary{
        margin-left: 20px;
        padding: 5px 30px;
        background-color: #6F2CFF;
        border-color: #6F2CFF;
      }
      .btn-light{
        background-color: white;
        border-color: white;
      }
    }
    .section1{
      background-color: #DAC5FE;
      .container{
        .row{
          padding: 20px 100px;
          .col_1{
            margin: 0 auto;
            .content-container{
              .c-1-h12{
                color: #6F2DFF;
              }
              p{
                margin-top: 25px;
              }
              .btn-group{
                border: 2px solid #6F2DFF;
                border-radius: 23px;
                background-color: white;
                width: 400px;
                height: 40px;
                display: flex;
                flex-direction: row;
                .but1{
                  .button1{
                    border: none;
                    width: 100%;
                    height: 100%;
                  }
                  width: 60%;
                  height: 100%;
                }
                .but2{
                  border-radius: 0 23px 23px 0;
                  background-color: #6F2DFF;
                }
              }
            }
          }
          .col_2{
            margin: 0 auto;
            img{
              width: 600px;
            }
          }
        }
      }
    }
    .section2{
      .container{
        .row{
          .half1{
            .content-container{
              margin: 200px auto;
              padding-left: 80px;
              .btn{
                margin-top: 40px;
                height: 35px;
                width: 230px;
                background-color: #6F2DFF;
                border: #6F2DFF;
                border-radius: 23px;
              }
              .hfirst{
                margin-top: 50px;
              }
              .hsecond{
                a{
                  text-decoration: 1px solid black;
                  color: black;
                }
              }
            }
          }
          .abouthalf2{
            margin-left: 30px;
            border-left: 1px solid rgba(128, 128, 128, 0.27);
            margin-top: 70px;
            h2{
              margin-top: 40px;
            }
          }
        }
      }
    }
    .section3{
      .container{
        margin-top: 150px;
        text-align: center;
        .row{
          .col-3{
            margin-left: 60px;
            img{
              width: 50px;
              height: 50px;
            }
            h5{
              margin-top: 40px;
            }
            p{
              margin-top: 20px;
            }
          }
        }
      }
    }
    .section4{
      margin-top: 60px;
      .container{
        margin: 100px auto;
        text-align: center;
        h3{
          padding-top: 70px;
        }
        p{
          margin-top: 20px;
        }
        img{
          margin-top: 60px;
        }
        .bytu{
          margin-top: 70px;
          padding-bottom: 70px;
          .btn-primary{
            background-color: #6F2DFF;
            border: #6F2DFF;
          }
          .btn-light{
            background-color: white;
            color: #6F2DFF;
          }
          .btn{
            width: 190px;
            height: 40px;
            border-radius: 23px;
          }
        }
      }
    }
    .section5{
      .container{
        h3{
          text-align: center;
          margin-top: 30px;
          padding-bottom: 50px;
        }
        .row{
          margin-top: 40px;
          .col-3{
            text-align: center;
            margin: 0 auto;
            h5{
              margin-top: 20px;
            }
            p{
              margin-top: 30px;
            }
            img{
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
    .section6{
      .container{
        margin-top: 90px;
        padding-bottom: 80px;
        h3{
          padding-top: 50px;
          margin-top: 60px;
          text-align: center;
          margin-bottom: 70px;
        }
        .carousel{
          .carousel-indicators{

          }
          .carousel-inner{
            a{
              span{
                font-size: 35px;
                color: #6F2DFF;
              }
            }
            .carousel-item{
              .row{
                .col{
                  .card{
                    width: 300px;
                    height: auto;
                    img{
                      position: inherit;
                      width: 100%;
                      height: 250px;
                    }
                    .card-body{
                      .card-title{
                        padding-bottom: 20px;
                        text-align: center;
                      }
                      .card-text{
                        padding-bottom: 50px;
                        color: #6F2DFF;
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .section7{
      background-color: #ffffff;
      .container{
        h2{
          text-align: center;
        }
        p{
          text-align: center;
        }
        .row{
          .col-12{
            .row{
              a{}
              .card{
                background-color: #04021c;
                border-radius: 10px;
                color: white;
                .card-body{
                  h5{
                    img{
                      max-width: 50px;
                      height: auto;
                    }
                    strong{
                      color: white;
                    }
                  }
                  .card-richtext{
                    margin-top: 30px;
                    text-align: inherit;
                  }
                  .mt-4{
                    display: none;
                    span{
                      strong{
                        a{
                          text-decoration-color: white;
                        }
                      }
                    }
                  }
                }
              }
            }
            .card:hover{
              background-color: rgb(3, 30, 140);
              .card-body{
                .mt-4{
                  position: inherit;
                  color: white!important;
                  display: block;
                  text-decoration: white;
                  span{
                    strong{
                      a{
                        color: white;
                        text-decoration-color: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}